<div class="jumbotron" style=" background: linear-gradient(to right, #ffccff 12%, #ffff99 105%);">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Change Password</h2>
                <form [formGroup]="changepwdForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Enter Username:</label>
                        <input type="text" placeholder="Username" [(ngModel)]="student.sname" id="sname" formControlName="sname" class="form-control"
                            [ngClass]="{'is-invalid':submitted && f['sname'].errors}">

                        <div *ngIf="submitted && f['sname'].errors" class="invalid-feedback">
                            <div *ngIf="f['sname'].errors['required']" style="color: red;">
                                Username Required!
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Enter Password:</label>
                        <input type="password" placeholder="Password" [(ngModel)]="student.spassword" id="spassword" formControlName="spassword" class="form-control"
                            [ngClass]="{'is-invalid':submitted && f['spassword'].errors}">

                        <div *ngIf="submitted && f['spassword'].errors" class="invalid-feedback">
                            <div *ngIf="f['spassword'].errors['required']" style="color: red;">
                                Password Required!
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" id="changepwd">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div *ngIf="r===true;">
    <h2 style="background-color: burlywood; text-align: center; font-family: Georgia, 
    'Times New Roman', Times, serif;"> Password changed, Please login again </h2>
</div>
<div *ngIf="r===false;">
    <h2 style="background-color: burlywood; text-align: center; font-family: Georgia, 
    'Times New Roman', Times, serif;"> Invalid Username! Please try again </h2>
</div>