<div class="jumbotron" style=" background: linear-gradient(to right, #ffccff 12%, #ffff99 105%);">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Remove Package Details</h2>
                <form [formGroup]="remForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Enter Package ID:</label>
                        <input type="text" placeholder="ID" [(ngModel)]="packages.pid" id="pid" formControlName="pid" class="form-control"
                            [ngClass]="{'is-invalid':submitted && f['pid'].errors}">

                        <div *ngIf="submitted && f['pid'].errors" class="invalid-feedback">
                            <div *ngIf="f['pid'].errors['required']" style="color: red;">
                                Package ID Required!
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" id="removepack">Remove Package Details</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
