<div class="jumbotron" style=" background: linear-gradient(to right, #ffccff 12%, #ffff99 105%);">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Add Package Details</h2>
                <form [formGroup]="addpackageForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Enter Package Name:</label>
                        <input type="text" placeholder="Name" [(ngModel)]="packages.pname" id="pname" formControlName="pname" class="form-control"
                            [ngClass]="{'is-invalid':submitted && f['pname'].errors}">

                        <div *ngIf="submitted && f['pname'].errors" class="invalid-feedback">
                            <div *ngIf="f['pname'].errors['required']" style="color: red;">
                                Package Name Required!
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Enter Starting Date:</label>
                        <input type="text" placeholder="Starting Date" [(ngModel)]="packages.pstartingdate" id="pstartingdate" formControlName="pstartingdate" class="form-control"
                            [ngClass]="{'is-invalid':submitted && f['pstartingdate'].errors}">

                        <div *ngIf="submitted && f['pstartingdate'].errors" class="invalid-feedback">
                            <div *ngIf="f['pstartingdate'].errors['required']" style="color: red;">
                                Starting Date Required!
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Enter Student Attendance:</label>
                        <input type="text" placeholder="Attendance" [(ngModel)]="packages.pstudentattendance" id="pstudentattendance" formControlName="pstudentattendance" class="form-control"
                            [ngClass]="{'is-invalid':submitted && f['pstudentattendance'].errors}">

                        <div *ngIf="submitted && f['pstudentattendance'].errors" class="invalid-feedback">
                            <div *ngIf="f['pstudentattendance'].errors['required']" style="color: red;">
                                Student Attendance Required!
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Enter Vehicle Name:</label>
                        <input type="text" placeholder="Vehicle" [(ngModel)]="packages.pvehicle" id="pvehicle" formControlName="pvehicle" class="form-control"
                            [ngClass]="{'is-invalid':submitted && f['pvehicle'].errors}">

                        <div *ngIf="submitted && f['pvehicle'].errors" class="invalid-feedback">
                            <div *ngIf="f['pvehicle'].errors['required']" style="color: red;">
                                Vehicle Name Required!
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Enter Trainer Name:</label>
                        <input type="text" placeholder="Trainer Name" [(ngModel)]="packages.ptrainername" id="ptrainername" formControlName="ptrainername" class="form-control"
                            [ngClass]="{'is-invalid':submitted && f['ptrainername'].errors}">

                        <div *ngIf="submitted && f['ptrainername'].errors" class="invalid-feedback">
                            <div *ngIf="f['ptrainername'].errors['required']" style="color: red;">
                                Trainer Name Required!
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Enter Trainer Location:</label>
                        <input type="text" placeholder="Trainer Location" [(ngModel)]="packages.ptrainerlocation" id="ptrainerlocation" formControlName="ptrainerlocation" class="form-control"
                            [ngClass]="{'is-invalid':submitted && f['ptrainerlocation'].errors}">

                        <div *ngIf="submitted && f['ptrainerlocation'].errors" class="invalid-feedback">
                            <div *ngIf="f['ptrainerlocation'].errors['required']" style="color: red;">
                                Trainer Location Required!
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Enter Trainer Experience(in years):</label>
                        <input type="text" placeholder="Trainer Exp" [(ngModel)]="packages.ptrainerexp" id="ptrainerexp" formControlName="ptrainerexp" class="form-control"
                            [ngClass]="{'is-invalid':submitted && f['ptrainerexp'].errors}">

                        <div *ngIf="submitted && f['ptrainerexp'].errors" class="invalid-feedback">
                            <div *ngIf="f['ptrainerexp'].errors['required']" style="color: red;">
                                Trainer Experience Required!
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" id="addpack">Add Package Details</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>