
<div class="container-fluid">
    <footer class="text-white text-center text-lg-start ">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row mt-4">
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">About company</h5>
  
            <p>
                Welcome to NewLife Driving School – No.1 Car school in  
                Pune. Learning to drive isn’t almost us getting a driver’s license, but is an 
                important skill at all times
            </p>
  
            <p>
                Since 2021 we have delivered great value for our customers.
            </p>
  
            <div class="mt-4">
              <!-- Facebook -->
              <a type="button" class="btn btn-floating btn-light "><i class="fa fa-facebook-f"></i></a> &nbsp;
              <!-- Dribbble -->
              <a type="button" class="btn btn-floating btn-light "><i class="fa fa-dribbble"></i></a>&nbsp;
              <!-- Twitter -->
              <a type="button" class="btn btn-floating btn-light "><i class="fa fa-twitter"></i></a>&nbsp;
              <!-- Google + -->
              <a type="button" class="btn btn-floating btn-light"><i class="fa fa-google-plus"></i></a>
              <!-- Linkedin -->
            </div>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 pb-1">Search something</h5>
  
            <div class="form-outline form-white mb-4">
              <input type="text" id="formControlLg" class="form-control form-control-sm" />
              <label class="form-label" for="formControlLg"></label>
            </div>
  
            <ul class="fa-ul" style="margin-left: 1.65em;">
              <li class="mb-3">
                <span class="fa-li"><i class="fa fa-home"></i></span><span class="ms-2">beng nagar, 00-967, Pune</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fa fa-envelope"></i></span><span class="ms-2">NewLife1@gmail.com</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="ms-2">+ 34 234 567 88</span>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Opening hours</h5>
  
            <table class="table text-center text-white">
              <tbody class="fw-normal">
                <tr>
                  <td>Mon - Thu:</td>
                  <td>8am - 9pm</td>
                </tr>
                <tr>
                  <td>Fri - Sat:</td>
                  <td>8am - 1am</td>
                </tr>
                <tr>
                  <td>Sunday:</td>
                  <td>9am - 10pm</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(201, 173, 173, 0.2);width: 100%;">
        © 2021-22 Copyright:
        <a class="text-white" href="/home">NewLife Driving School</a>
      </div>
      <!-- Copyright -->
    </footer>
  
</div>
  <!-- End of .container -->
  